*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;

}

body {
    background-color: #F8F8F8;
}

                                                    /* Navigation */


.mainHeader img {
    height: 400px;
    width: 100%;
}

.titre {
    font-size: 50px;
    margin-left: 500px;
    margin-top: -270px;
}


.logo {
    width: 400px;
    margin-top: -270px;
}

nav {
    position: absolute;
    top: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
}

nav ul li
{
 margin:0 10px; 
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 300px;

}

nav a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding-block: .5rem;
    border-bottom: 1px solid transparent;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

nav a:hover,
nav a:focus {
    border-bottom-color: #f9b619;
}



@media (min-width: 768px) and (max-width: 1199px) {

    .mainHeader img {
        height: 500px;
    }

    .titre {
        margin-top: -400px;
        margin-bottom: 300px;
        font-size: 20px;
    }
    
    
    .logo {
        margin-top: -450px;
        margin-left: 100px;
    }
    
}


@media (min-width: 576px) and (max-width: 767px) {

    .titre {
        margin-top: -300px;
        margin-left: 300px;
        margin-bottom: 280px;
        font-size: 20px;
    }
    
    
    .logo {
        margin-top: -450px;
        margin-left: -20px;

    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 2rem;
    }

    nav ul {
        padding-block-start: 0;
    }
    nav a {
        padding-block: .5rem;
        border-bottom: 1px solid transparent;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }

    nav a:hover,
    nav a:focus {
        border-bottom-color: #f9b619;
    }
}

.contenant img {
    height: 400px;
    width: 100%;
    margin-top: 35px;
}

h2 {
    color: #f9b619;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

h3 {
    color: #f9b619;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 100px;
}

                                                    /* Article */
 
.soustitre p {
    margin-left: 200px;
    margin-top: 100px;
}
                                                        
p {
    margin-left: 200px;
    margin-top: 30px;
}

.container1 {
    margin-left: -200px;
}

.container2 {
    margin-left: 500px;
    margin-top: -300px;
}

.container3 {
    margin-left: -200px;
    margin-top: -300px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container2 {
        margin-left: -200px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container2 {
        margin-left: -200px;
    }
}


                                                    /* Footer */

footer img {
    height: 400px;
    width: 100%;
    margin-top: 200px;
}

footer h4 {
    color: #f9b619;
    font-size: 20px;
    margin-top: -270px;
    margin-left: 200px;
}


footer ul {
    display: block;
    flex: 1 1 40rem;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 200px;
}

footer  a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
    gap: 4rem;
     margin-top: -300px;
}



.social a {
    text-decoration: none;
}

.social img {
    height: 2rem;
}

.social a:hover img {
    filter: drop-shadow(1px 1px 2px blue) invert(90%);
    -webkit-filter: drop-shadow(1px 1px 2px blue) invert(90%);
}

footer .trait {
    margin-top: 100px;
}

footer p {
    margin-left: 1500px;
    margin-top: -20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    footer h4 {
        margin-left: 100px;
    }
    
    
    footer ul {
        margin-left: 100px;
    }
     
    .social {
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-top: -300px;
    }
    
  
    footer p {
        margin-left: 500px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    footer img {
        margin-top: -100px;
    }
    footer h4 {
        margin-left: 30px;
        margin-top: -350px;
    }
    
    
    footer ul {
        margin-left: 30px;
    }
     
    .social {
        margin-top: -50px;
        margin-left: 90px;
    }
    
    footer p {
        margin-left: 230px;
    }

}